/* general styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dfe0d9 15%,
        #dfe0d9 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    height: 10%;
    background-color: #ededed;
}

img {
    object-fit: cover;
}

/* Utilities */
.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: white;
    border-radius: 10px;
}

.sidebar {
    width: 35%;
    border-right: 1px solid #dcdcdc;
}


/* user section */
.user-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.user {
    border-radius: 10px 0 0 0;
    align-items: center;
}

.img-profile-container {
    height: 70%;
    width: 50px;
    margin-left: 10px
}

.avatar {
    height: 100%;
    border-radius: 50%;
}

.icon-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.icon-container i { 
    font-size: 150%;
    margin: 0 10px;
}

.icon-container:last-child {
    margin-right: 20px;
}

/* notifications banner section*/
.notifications-banner {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #a2dffe;
}

.icon-cotainer div {
    background-color: white;
    padding: 10px;
    margin: 0 10px 0 20px;
    border-radius: 50%;
}

.icon-cotainer i {
    font-size: 130%;
}

.text-notification-banner {
    display: flex;
    flex-direction: column;
}

.text-notification-banner a {
    color: #688ea2;
}

/* search section */

.search-container {
    background-color: #ededed;
    height: 50px;
    padding: 7px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    height: 100%;
    border-radius: 10px;
}

.search-bar div {
    display: flex;
    align-items: center;
    height: 70%;
    border-right: 2px solid #dcdcdc;
}

.search-bar i {
    margin: 0 30px;
}

.search-bar span {
    margin-left: 10px;
}

/* contact section */
.contact-container {
    display: flex;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid #dcdcdc;
}

.contacts .contact-container:last-child {
    border-bottom: none;
}

.contact-container span {
    margin-left: 15px;
}


/* frequent colors */
.grey-icon {
    color: #bababa;
}

.light-blue {
    color: #a2dffe;
}

/* Chat section */
.message-area {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header.chat {
    width: 100%;
    border-radius: 0 10px 0 0;
}

main.message-container {
    height: 100%;
    background-image: url('../img/mine.jpg');
    background-position: center;
}

.message-input-container {
    height: 50px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 0;
}

.emoji {
    margin: 0 30px;
    font-size: 130%;
}

.input-message {
    height: 30px;
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    color: #bababa;
}