<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp Milestone 1</title>
    <link rel="stylesheet" href="./css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- import Vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="app" class="container">
        <section class="sidebar">
            <header class="user">
                <!-- spazio del profilo utente -->
                <div class="user-container">
                    <div class="img-profile-container">
                        <img class="avatar" src="./img/avatar_io.jpg" alt="ME">
                    </div>
                    <span class="username">Nome Utente</span>
                </div>

                <!-- icon section -->
                <div class="icon-container">
                    <i class="fas fa-circle-notch grey-icon"></i>
                    <i class="fas fa-comment-alt grey-icon"></i>
                    <i class="fas fa-ellipsis-v grey-icon"></i>
                </div>
            </header>

            <main>
                <div class="notifications-banner">
                    <!-- messaggio di attivazione notifiche -->
                    <div class="icon-cotainer">
                        <div>
                            <i class="fas fa-bell-slash light-blue"></i>
                        </div>
                    </div>

                    <div class="text-notification-banner">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <span><a href="#">Attiva notifiche desktop</a></span>
                    </div>
                </div>

                <section class="contacts">
                    <div class="search-container">
                        <!-- barra di ricerca dei contatti -->
                        <div class="search-bar">
                            <div>
                                <i class="fas fa-search grey-icon"></i>
                            </div>
                            <span class="grey-icon">cerca o inizia una nuova chat</span>
                        </div>
                    </div>

                    <div
                    v-for="contact in contacts"
                    class="contact-container"
                    @click="SetActiveContact"
                    >
                        <!-- contatti inseriti con un v-for -->
                        <div class="img-profile-container">
                            <img class="avatar" :src="`./img/avatar${contact.avatar}.jpg`" alt="ME">
                        </div>

                        <span> {{ contact.name }} </span>
                    </div>
                </section>
            </main>
        </section>

        <section class="message-area">

            <!-- TODO da rivedere header per immagine avatar -->
            <header class="chat">
                <!-- spazio del profilo utente -->
                <div class="user-container">
                    <div class="img-profile-container">
                        <img class="avatar" src="./img/avatar_1.jpg" alt="ME">
                    </div>
                    <span class="username">Nome Utente</span>
                </div>

                <!-- icon section -->
                <div class="icon-container">
                    <i class="fas fa-circle-notch grey-icon"></i>
                    <i class="fas fa-comment-alt grey-icon"></i>
                    <i class="fas fa-ellipsis-v grey-icon"></i>
                </div>
            </header>

            <main class="message-container">
                <div
                v-for="message in contacts[ActiveContact].messages"
                class="message"
                :class="message.status"
                >
                    <span class="message-text">{{ message.text }}</span>
                    <span class="message-time">{{ message.date }}</span>
                </div>
            </main>

            <footer class="message-input">
                <div class="message-input-container">
                    <div class="emoji">
                        <i class="far fa-smile grey-icon"></i>
                    </div>

                    <input 
                    class="input-message" 
                    type="text"
                    placeholder="Scrivi un messaggio"
                    >

                    <div class="emoji">
                        <i class="fas fa-microphone grey-icon"></i>
                    </div>

                </div>
            </footer>
        </section>
    </div>

    <script src="./js/main.js"></script>
</body>
</html>